header.header
  .container
    .row.align-items-center
      .col-3
        .inner-logo
          a(href="/")
            img(src="/client/images/Màu Kem và Xanh lá Đơn giản Hình vẽ một nét Sản phẩm vệ sinh Logo.jpg", alt="Logo")
          | SAVYTECH

      .col-9
        .inner-menu
          ul
            li
              a(href="/") Trang chủ
            li
              a(href="/products") Khóa Học